name: Docs
on:
  push:
    branches:
      - master
    paths:
      - 'nari/**.py'

jobs:
  docs:
    name: pdoc
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: pdoc
      run: |
        python -m pip install --upgrade pip
        pip install .[docs]
        pdoc --html -f -o docs nari

    - name: deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: docs/nari
