name: CI
on: [push, pull_request]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install development dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Pip list
      run: pip list -v

    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: |
          /opt/hostedtoolcache/Python/3.10.2/x64/lib/python3.10/site-packages
        key: ${{ hashFiles('setup.cfg') }}
        restore-keys: setup.cfg

    - name: pylint
      run: pylint nari

  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install development dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Pip list
      run: pip list -v

    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: |
          /opt/hostedtoolcache/Python/3.10.2/x64/lib/python3.10/site-packages
        key: ${{ hashFiles('setup.cfg') }}
        restore-keys: setup.cfg

    - name: unittest and coverage
      run: coverage run -munittest

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3

  types:
    name: Check Types
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install development dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Pip list
      run: pip list -v

    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: |
          /opt/hostedtoolcache/Python/3.10.2/x64/lib/python3.10/site-packages
        key: ${{ hashFiles('setup.cfg') }}
        restore-keys: setup.cfg
    - name: mypy
      run: mypy nari
